script#date(type="text/html")
  .panel.panel-default
    .panel-heading
      +text('month')
      = ' '
      +text('time')
    .panel-body
      p.text-primary
        +text('weekday')
script#date-add(type="text/html")