script#date(type="text/html")
  .panel.panel-info
    .panel-heading
      +text('month')
      = ' '
      +text('time')
    .panel-body
      p.text-primary
        +text('weekday')
    .panel-footer
      small clock
script#date-form(type="text/html")